<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGN UP</title>

    <style>
        ::placeholder {
          color: black;
          opacity: 1; /* Firefox */
        }
        
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
         color: black;
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
         color: black;
        }

        
.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
        </style>
</head>

<body id="home" class="scrollspy">
  <div class="navbar-fixed">
    <div class="nav teal">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
          Guptasville
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      
      <div class="nav-links">
        <a href="/" target="_blank">Home</a>
        <a href="login" target="_blank">Login</a>
        <a href="signup" target="_blank">SignUp</a>
        
      </div>
    </div>
  </div>
        
    </br></br></br></br>
    <section id="contact" class="section-contact scrollspy">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card-panel teal white-text center">
                        <img src="img/edit.png">
                        <h3>SIGN UP</h3>

                    </div>
                    <br><br>
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h4>Location</h4>
                        </li>
                        <li class="collection-item">
                            Guptasville Agency
                        </li>
                        <li class="collection-item">
                            Bangalore-566666
                        </li>
                        <li class="collection-item">
                            Karnataka,India
                        </li>
                        <li class="collection-item">
                            Contact Us- 080 2666 2666
                        </li>
                    </ul>
                </div>

                <div class="col s12 m6">
                    <div class="card-panel grey lighten-3">
                      <form method="POST" action="/signup">
                        <div class="input-field">
                            <input type="text" placeholder="Name" name="name" required>
                            <label for="Name"></label>
                        </div>
                        <div class="input-field">
                            <input type="email" placeholder="Email" name="email" required>
                            <label for="email"></label>
                        </div>

                        <div class="input-field">
                          <input type="number" placeholder="Phone no." name="phone" required>
                          <label for="password"></label>
                        </div>

                        <div class="input-field">
                            <input type="password" placeholder="Password" name="password" required>
                            <label for="password"></label>
                        </div>
                        <div class="input-field">
                            <input type="password" placeholder="Re-enter Password" name="cpassword" required>
                            <label for="password"></label>
                        </div>
                        </br>
                        <center> <input type="submit" value="Sign Up" class="btn"></center>
                        </br>

                      </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br><br><br><br>
    <footer class="section teal darken-2 white-text center">
        <p class="flow-text">Guptasville &copy; 2020</p>
      </footer>


      </body>

      </html>